<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Lan-Messaging</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Dark-1.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body style="background: repeating-radial-gradient(rgb(41,41,41), rgb(204,204,204)), rgb(255,255,255);color: rgb(0,0,0);">
    <section class="login-dark" style="height: 660px;">
        <form method="post" action="/chatroom" style="background: rgba(0,0,0,0.4);">
            <div class="illustration"><i class="icon ion-chatboxes" style="color: #ffffff;"></i></div><input autocomplete="off" class="form-control" type="text" id="f-name" name="user-name" placeholder="Enter Name" style="border-top: 1px solid #ffffff;border-bottom-color: #ffffff;"
                required="">
            <button class="btn btn-primary btn-block" type="submit" style="color: rgb(0,0,0);background: #ffffff;"><strong>Enter</strong></button>
        </form>
    </section>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
</body>

</html>